* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    font-family: 'Montserrat';
}

.wrapper {
    width: 100vw;
    background: #1E152A;
}

.wrapper .header {
    height: 95px;
    display: flex;
    flex-flow: row nowrap;
    background: #2E1760;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
    z-index: 999;
}

.wrapper .header .logo {
    width: 310px;
    background: #F8F32B;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.wrapper .header .logo a {
    font-size: 46px;
    color: #171738;
    font-weight: 800;
    font-style: italic;
}

.wrapper .header .breadscrumbs {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding-left: 40px;
}

.wrapper .header .breadscrumbs span {
    color: white;
    font-family: 'Montserrat';
    font-size: 36px;
    font-style: italic;
    font-weight: medium;
    padding: 0px 10px;
}

.wrapper .content {
    display: flex;
    flex-flow: row nowrap;
}

.wrapper .content .nav-menu {
    width: 310px;
    height: calc(100vh - 95px);
    background: #2E1760;
    display: flex;
    flex-flow: column nowrap;
    box-shadow: 4px 0px 4px rgba(0, 0, 0, 0.25);
    z-index: 998;
}

.wrapper .content .nav-menu .section {
    margin: 30px 0px;
}

.wrapper .content .nav-menu .section a{
    font-size: 36px;
    color: white;
    font-style: normal;
    padding-left: 25px;
}

.wrapper .content .nav-menu .section:first-child {
    margin-top: 60px;
}

.wrapper .content .main-content {
    background: #2E1760;
    max-height: calc(100vh - 135px);
    width: calc(100vw - 350px);
    overflow-y: scroll;
    margin: 20px;
}

.wrapper .content .main-content section {
    width: 100%;
}

.wrapper .content .main-content section video {
    max-width: 100%;
    max-height: 70vh;

}

.wrapper .content .main-content section:nth-child(1) h1 {
    color: white;
    font-family: 'Montserrat';
    font-style: italic;
    font-size: 4vw;
    width: 70%;
    padding: 50px;
}

.wrapper .content .main-content section h2 {
    color: white;
    font-family: 'Exo 2';
    font-style: italic;
    font-weight: medium;
    font-size: 4vw;
    width: 70%;
    padding: 20px;
}

.wrapper .content .main-content section:nth-child(1) {
    height: 500px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.48), rgba(0, 0, 0, 0.48)), url('1.jpg');
    background-position: top 100px;
    background-size: cover;
}


.wrapper .content .main-content section:nth-child(2) {
    height: 350px;
    display: flex;
    align-items: center;
}

.wrapper .content .main-content section:nth-child(3) {
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
}

.wrapper .content .main-content section:nth-child(4) {
    height: 700px;
    display: flex;
    align-items: center;
    margin: 10px 0px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.33), rgba(0, 0, 0, 0.33)), url('2.jpg');
    background-size: cover;
    background-position: center;
}

.wrapper .content .main-content section:nth-child(5) {
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
}

.wrapper .content .main-content section:nth-child(6) {
    height: 700px;
    display: flex;
    align-items: center;
    margin: 10px 0px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.33), rgba(0, 0, 0, 0.33)), url('3.jpeg');
    background-size: cover;
    background-position: center;
}

.wrapper .content .main-content section:nth-child(7) {
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hover {
      font-size: 36px;
      margin: 0 auto;
      padding: 0;
      transition: all 0.2s ease-in-out;
      position: relative;
}

.hover::before {
    content: "";
    position: absolute;
    bottom: -10px;
    width: 0px;
    height: 5px;
    margin: 5px 0 0;
    transition: all 0.1s ease-in-out;
    transition-duration: 0.75s;
    opacity: 0;
    background-color: #F8F32B;
    right: 0;
}

.hover::after {
    content: "";
    position: absolute;
    bottom: -10px;
    width: 0px;
    height: 5px;
    margin: 5px 0 0;
    transition: all 0.1s ease-in-out;
    transition-duration: 0.75s;
    opacity: 0;
    background-color: #F8F32B;
    right: 0;
}

.hover:hover {
    cursor: pointer;
}

.hover:hover::after {
    width: 100%;
    opacity: 1;
}

.hover:hover::before {
    width: 100%;
    opacity: 1;
}
